asgiref==3.8.1
attrs==25.1.0
cattrs==24.1.2
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.6
idna==3.10
platformdirs==4.3.6
requests==2.32.3
requests-cache==1.2.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
url-normalize==1.4.3
urllib3==2.3.0
