.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.auth-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form h2 {
    text-align: center;
    color: #283149;
    margin-bottom: 15px;
}

.auth-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.auth-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: #367c39;
}

.auth-form .message {
    text-align: center;
    font-size: 14px;
}

.auth-form .error {
    color: red; /* Couleur rouge pour les erreurs */
    font-weight: bold; /* Texte en gras pour les erreurs */
    margin-top: 10px; /* Ajoute un espace au-dessus du message d'erreur */
}